<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--    目标对象-->
    <bean name="userService" class="src.com.qfedu.spring.aop.service.UserServiceImpl"></bean>>

    <!--    通知对象-->
    <bean name="transactionAdvice" class="src.com.qfedu.spring.aop.advice.TransactionAdvice"></bean>

    <!--    将通知对象织入目标对象-->
    <aop:config>
        <!--   选择切入点     -->
        <aop:pointcut id="pointcut" expression="execution(public void src.com.qfedu.spring.aop.service.UserServiceImpl.update())"/>
        <!--    引入通知对象    -->
        <aop:aspect ref="transactionAdvice">
            <aop:before method="before" pointcut-ref="pointcut"/>
            <aop:after-returning method="afterReturning" pointcut-ref="pointcut"/>
            <aop:after method="after" pointcut-ref="pointcut"/>  <!--    无论是否出现异常都会被调用    -->
            <aop:around method="around" pointcut-ref="pointcut"/>
            <aop:after-throwing method="afterException" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>



</beans>